@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;800&display=swap');

body {
	background: #333A70;
}

h1 {
	color: #E9853E;
	font-size: 44px;
	font-family: 'Red Hat Display', sans-serif;
	margin-top:50px;
}

section
{
width: 50%;
margin: auto;
display: flex;
flex-direction: column;
align-items: center;
background: #FCDA6D;
border-radius:  30px;
box-shadow: 0px 15px 10px -15px #FCDA6D;
}

button{
	cursor: pointer;
}

.grid{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	width: 75%;
}

.grid-cell {
	color:  #E9853E;
	font-size:  60px;
	font-family:'Red Hat Display', sans-serif;
	font-weight:  800;
	height:  150px;
	align-items: center;
	justify-content:  center;
	display:  flex;
	cursor: pointer;
	border: 5px solid #FFC300;
	margin: 2px;

}

button {
	border-style: none;
	border: 5px solid #333A70;
	background-color: #FCDA6D;
	color:#E9853E;
	font-size: 30px;
	font-family: 'Lucida Grande';
	text-transform: uppercase;
	padding: 10px;
}